* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uchen', serif;
    transition: 3s ease;
}

.all-content {
    background: #2e1700;
}

/* navbar */

.navbar {
    background-color: #573818;
    padding-left: 50px;
    font-weight: bold;
}

#logo {
    font-size: 23px;
    color: white;
}

#logo img {
    margin-bottom: 15px;
}

.navbar-nav {
    margin-left: 10px;
}

.nav-link{
    color: white !important;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-left: 15px;
}

.nav-link:hover {
    background-color: rgba(161, 109, 14, 1);
    color: white;
    border-radius: 5px;
}

.icons {
    margin-left: 30px;
}

.icons img {
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.icons img:hover {
    transform: translateY(-5px);
}

@media screen and (max-width:330px) {
    #logo {
        font-size: 15px;
    }
}




/* navbar end */

